/*Global CSS*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,700,700italic);

html {
  height:100%;
}

body {
  font-family:'Roboto', serif;
  font-size:16px;
  height:100%;
}

h1 {
  font-size:60px;
  margin-bottom:30px;
}

/*Local CSS*/

nav {
  background-color:rgba(81, 69, 107,0.9);
  height:66px;
}

nav h4 {
  color:#fff;
  text-align:center;
  margin-top:24px;
}


header {
  background-image:url(https://timedotcom.files.wordpress.com/2016/05/jane-jacobs.jpeg?quality=75&strip=color&w=1012);
  background-repeat:no-repeat;
  background-size:cover;
  background-position: 50% 50%;
  height:100%;
  padding-top:300px;
}

header h3 {
  font-size:2.5em;
  color:#fff;
  font-weight:300;
}

header h3.quote {
  background-color:#359675;
  display:inline;
  line-height:56px;
}

header h3.name {
  font-style:italic;
  color:#359675;
}

#intro {
  padding:30px 0;
  margin-bottom:120px;
}

#intro .profile {
  border-radius:50%;
  width:128px;
  height:128px;
  display:none;
}


#intro h1 {
  color:#359675;
}

#intro h1 small {
  font-size:0.4em;
  color:#514568;
  text-transform:uppercase;
}


#legacy {
  
  background-image:url(https://static.pexels.com/photos/2255/black-and-white-city-houses-skyline-large.jpg);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:cover;
  height:100%;
  padding:80px 0;
}

#legacy h1 {
  text-align:center;
  color:#514568;
  font-weight:300;
}

footer {
  background-color:rgba(0,0,0,0.8);
  height:30px;
}

footer h1{
  font-size:0.9em;
  color:#fff;
  text-align:center;
}

footer a{
  color:#fff;
}

footer a:hover{
  color:#fff;
  background-color:rgba(81, 69, 107,0.9);
  text-decoration:none;
}

@media screen and (max-width:900px){
  
  header{
    height:450px;
    padding-top:76px;
  }
  
  header h3 {
  font-size:2em;
}
  header h3.quote {
  line-height:45px;
}
  
  #intro {
    padding:0 10px;
    margin-bottom:30px;
  }
  
   #legacy {
    padding-top:50px;
  }
  
} /* max-width 900 px */

@media screen and (max-width:560px){

  .mobile_hide {
    display:none;
  }
  
  nav h4 {
  font-weight:300;
  font-size:16px;
  margin: 16px 10px;
}
  
  h1 {
    font-size:2.5em;
    text-align:center;
    margin-top:20px;
  }
  
  #intro .profile {
    display:block;
    margin:80px auto 0;
  }
  
  #legacy {
    padding-top:30px;
  }

} /* max-width 600 px */


